.tc{
    text-align: center;
}
.tr{
    text-align: right;
}
.tl{
    text-align: left;
}
.none{
    display: none;
}
.block{
    display: block;
}

.touch-action{
    overflow: hidden ;
    max-height: 100%;
}



.fnt-git{
    margin-top: 1rem;
    font-size: 1.4rem;
}

.bold{
    font-weight: bold;
}



.circle{
    border-radius: 50%;
}